
html
{
    height: 100%;
    background-color: #fff;
}
body
{
    background-color: #fff;
    color: #5c6562;
    font: 14px gandhi_sansregular, Helvetica, Geneva, sans-serif;
}

iframe, img
{
    border: none;
}
a img
{
    border: 0;
    text-decoration: none;
}

table
{
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
}


.head
{
    position: fixed;
    top: 10px;
    left: 21px;
    z-index: 10;
    width: 100%;
}
.head .branding
{
    line-height: 1;
}
.head .branding-logo
{
    padding: 0 0 2px 0;
}
.head .branding p
{
    padding: 0 0 5px 0;
    margin: 0;
}



/*=our work image listings*/
.work-images-listing
{
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 77px;
}
.work-images-listing ul
{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
}
.work-images-listing ul li
{
    list-style: none;
    float: left;
    white-space: nowrap;
    margin-left: 10px;
}
