
ul#menu, ul#menu ul.sub-menu
{
    padding: 0;
    margin: 0;
    background: none;
    position: absolute;
    z-index: 1;
}
ul#menu li, ul#menu ul.sub-menu li
{
    list-style: none;
    display: inline-block;
}

ul#menu li a, ul.sub-menu li a
{
    text-decoration: none;
    color: #7a7a7a;
    padding: 2px;
    display: inline-block;
    font-family: gandhi_sansbold,Helvetica,Geneva,sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
}



ul#menu li a:hover,ul.sub-menu li a:hover
{
    text-decoration: none;
    color: #000;
    padding: 2px;
    display: inline-block;
    font-family: gandhi_sansbold,Helvetica,Geneva,sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
}

ul#menu li ul.sub-menu li a
{
    text-transform: none;
    width: 130px;
    padding: 4px;
    color: #7a7a7a;
}

ul#menu li ul.sub-menu li a:hover
{
     
    color: #000;
}

ul#menu li
{
    position: relative;
    border: 0px solid #000;
    margin-right: 10px;
}

ul#menu li ul.sub-menu
{
    display: none;
    position: absolute;
    top: 16px;
    left: 0;
    width: 130px;
    background: #fff;
    padding: 4px;
    padding-left: 0px;
    font-size: 13px;
    border: 0px solid #000;
}

ul#menu li:hover ul.sub-menu
{
    display: block;
    color: #000;
}
