﻿

@font-face
{
    font-family: 'dynoregular';
    src: url('../fonts/dyno_regular-webfont.eot');
    src: url('../fonts/dyno_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dyno_regular-webfont.woff') format('woff'), url('../fonts/dyno_regular-webfont.ttf') format('truetype'), url('../fonts/dyno_regular-webfont.svg#dynoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'gandhi_sansregular';
    src: url('../fonts/gandhisans-regular-webfont.eot');
    src: url('../fonts/gandhisans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gandhisans-regular-webfont.woff') format('woff'), url('../fonts/gandhisans-regular-webfont.ttf') format('truetype'), url('../fonts/gandhisans-regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face
{
    font-family: 'gandhi_sansbold';
    src: url('../fonts/gandhisans-bold-webfont.eot');
    src: url('../fonts/gandhisans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gandhisans-bold-webfont.woff') format('woff'), url('../fonts/gandhisans-bold-webfont.ttf') format('truetype'), url('../fonts/gandhisans-bold-webfont.svg#gandhi_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


img
{
    border: 0px;
}
.headtext1
{
    font-family: 'gandhi_sansbold';
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    line-height: 26px;
}
.headtext2
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

.text
{
    font-family: 'gandhi_sansregular';
    font-weight: bold;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
.text:hover
{
    font-family: 'gandhi_sansregular';
    font-weight: bold;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.contactHead1
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.contactHead2
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
}
.contactHead3
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 14px;
    padding-bottom: 5px;
}
p
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    line-height: 22px;
}


.contactHead4
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.link
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.link:hover
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #cccccc;
    font-size: 14px;
    text-decoration: underline;
}


.textServices
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 16px;
    color: #000;
    margin: 0px;
    padding: 0px;
}


.textServices2
{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}



.servicelinks
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  /* border-bottom: 2px dotted #f1efef; */
}

.servicelinks:hover
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #cccccc;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-decoration:underline;
  /* border-bottom: 2px dotted #fff; */
}

.splash
{
    background: transparent url(splash.png) center no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
}

img.a
{
    position: absolute;
    z-index: 0;
}

.section
{
    margin-top: 130px;
    margin-left: 20px;
    margin-right: 20px;
}
