
@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

#wrapper
{
    height: 1600px;
    width: auto;
}

#wrapper #gallery
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

#gallery .holder
{
    width: 225px;
    height: 250px;
    background-image: url(../images/polaroid.png);
    float: left;
}

.holder .thumb
{
    width: 140px;
    height: 120px;
    margin-top: 29px;
    margin-left: 43px;
    margin-right: 42px;
}


.holder img
{
    border: none;
}


.clearFloat
{
    clear: both;
}


