#wrapper h1
{
    font-family: 'gandhi_sansbold';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    padding-top: 12px;
}

#wrapper p
{
    font-family: 'gandhi_sansregular';
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.box
{
    background-color: #000;
    color: #888888;
    left: 100%;
    right: 30%;
    top: 15%;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    width: 680px;
    height: 430px;
    z-index: 100;
   /* border: 1px solid #fff;  border-radius: 10px;     -webkit-border-radius: 10px;     -o-border-radius: 10px;     -ms-border-radius: 10px;     -moz-border-radius: 10px; */
}

.overlay
{
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

a.boxclose
{
    background: url('cancel.png') top transparent;
    cursor: pointer;
    float: right;
    width: 18px;
    height: 18px;
    left: 16px;
    position: relative;
    top: -16px;
}
